
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato);

body{
font-family: 'Lato', sans-serif;	
color: #C9C9C9;
}

h1{
	font-size:2em;

}

.btns{
cursor: pointer;
transition: all .2s ease-in-out;
}

.btns:hover{
box-shadow: 1px 1px 10px #888888;

}

.btns:active{
	transform: scale(0.9); 
}


#skills span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1em;

    color: #fff;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 2.5em;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
    background-color: #46b692;
}

progress::-moz-progress-bar {
    background-color: #46b692;
}

#botaoAdicionar{
margin-top: 20px;

}

#itens-selecionados{

}



