
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato);

.conteudos{
font-family: 'Lato', sans-serif;	
color: #ffffff;
}

.conteudos h1{
	font-size:2em;

}

 .conteudos .btns{
cursor: pointer;
transition: all .2s ease-in-out;
}

.conteudos .btns:hover{
box-shadow: 1px 1px 10px #888888;

}

.conteudos .btns:active{
	transform: scale(0.9); 
}


#skills span{
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1em;

    color: #fff;
}

 progress{
    background-color: #fff;
    border: 0;
    height: 2.5em;
    width: 100%;
}

 progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
    background-color: #44ae8d;
	
}

.conteudos progress::-moz-progress-bar {
    background-color: #44ae8d;
	opacity: 1;
}

.conteudos #botaoAdicionar{
margin-top: 10px;

}

#itens-selecionados{

}



