.btnsadicao{
margin-top: 10px;	
}

.ri-title{
	left: 0px;
	margin-left: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	height: 10%;
	text-align:center;
	vertical-align:center;
	background-color: #022974;
    position: fixed;
    top: 0px;
    z-index: 5;
    width: 100%;
	box-shadow: 0px 2px 2px #999; 
    -moz-box-shadow: 0px 2px 2px #999;
    -webkit-box-shadow: 0px 2px 2px #999;
	color: #FFFFFF;
	
}

.text-default{
	font-family: 'Lato', sans-serif;
	font-size:1em;
	padding: 10px;
	
	
}

.ico-title{

font-family: 'Lato', sans-serif;
font-size:1em;
margin-top: 0px;
color: #29313C;
font-weight:lighter;
}

body{
margin: 0px;
padding: 0px;
	
background-color: #eeeeee;

}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

.transparente{
	/*opacity: 0.5;*/
}

.transparente:hover{
opacity: 0.9;
}



#moodle-ri {
	height: 100%;
}

#body-ri {
	height: 80%;
}
			
			
.cell{
    cursor: pointer;
}

.ri-conteudo{
    background:#fff;
 	width: 1280px;
 	height: 200px;
 	text-align: center;
 	line-height: 100px;
 	display:none;
    font-family: 'Pt-Sans';     
}


/*Configuração Default do Plugin Free-wall*/
			
			
.free-wall {
	height: 102%;
	margin: 15px;
	margin-top: 80px;
}

@keyframes start {
	from {
	transform: scale(0);
	}
	to {
	transform: scale(1);
	}
}

			
@-webkit-keyframes start {
	from {
	-webkit-transform: scale(0);
				}
	to {
	-webkit-transform: scale(1);
		}
	}

.free-wall .cell[data-state="init"] {
		display: none;
	}

.free-wall .cell[data-state="start"]  {
		display: block;
		animation: start 0.5s;
		-webkit-animation: start 0.5s;
	}
	
.free-wall .cell[data-state="move"]  {
		transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
		-webkit-transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
	}
	
footer {
   height:10%;
   width:100%;
   background: #29313c;
   opacity: 1.0;
   color: #ffffff;
   z-index:2;
}

#coluna1{
float: left;

}

#coluna2{
margin-left: 50%;

}
a{
color: white;	
}

#btn_atualizar{
margin-left: 1%;
margin-top: 0px;
cursor: pointer;
}	
	
.conteudos{
display:none;
}			

#resumo-curso{
display: none;

}

h3{
	font-size:16px;
	display:inline;
	
}
.addFeedback{
display: none;
margin-bottom: 0px;
}

#sucess-add {
	color:#03C9A9;
	margin-top: 0px;
	
}

#no-add {
	color:#D64541;
	margin-top: 0px;
}

#menu-button{
position:fixed; bottom:2%; right:2%; 
}
#logo{
left: 10%;
position: fixed;
margin-top: 1%	
}

#titulo-principal{

}

.image-miniaturas{
	max-width: 50%;
	height: auto;
	border: solid;
	border-width:thin;
	border-color:#B1B1B1;
	
	
}

@media (max-width:1200px){

.ri-title{
height: 20%;
}

#logo{
display: none;
}

}
